# Node
node_modules/
server/*.db
server/*.db-journal
server/data/

# Flutter/Dart
app/.dart_tool/
app/.packages
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec
app/android/.gradle/
app/android/local.properties
app/android/key.properties
app/*.iml

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store
